
<% if imaginationtext.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(imaginationtext.errors.count, "error") %> prohibited this imaginationtext from being saved:</h2>

  <ul>
    <% imaginationtext.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <%= form.label :other, I18n.t("todo.imaginationtext"), style: "display: block" %>
  <%= form.text_area :imaginationtext ,class:'form-control' %>
</div>
<div>
<%= form.submit class: 'btn btn-primary' %>
</div>

