<div id="<%= dom_id user %>">
  <p>
    <strong>name:</strong>
      <%= user.name %>
  </p>
  <p>
    <strong>userclass:</strong>
    <%= user.userclass %>
  </p>

  <p>
    <strong>password:</strong>
    <%= user.pass_digest %>
  </p>

  <p>
    <strong>email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>userstatus:</strong>
    <%= user.userstatus %>
  </p>

</div>
