<%= render 'patients/user',user: @counsellor.user %>
<p>
<strong><%= I18n.t("roll") %>:</strong>
<%= I18n.t("counsellor") %>
</p>
<%= render 'patients/user_counsellor',user: @counsellor.user %>
<%= render 'counsellor',counsellor: @counsellor %>

<div>
  <%= link_to "編集", edit_counsellor_path(@counsellor), class: 'btn btn-primary' %>
  <%= link_to "戻る", counsellors_path(@counsellor), class: 'btn btn-primary' %>
</div>