<div>
  <p>
    <strong><%= I18n.t("activerecord.attributes.patient.addiction")%>:</strong>
    <%= I18n.t("addiction.#{addicdatum.what}") %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.severity")%>:</strong>
    <%= addicdatum.severity %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.progress")%>:</strong>
    <%= addicdatum.progress %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.difficulties")%>:</strong>
    <%= addicdatum.difficulties %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.frequency")%>:</strong>
    <%= addicdatum.frequency %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.trouble")%>:</strong>
    <%= addicdatum.trouble %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.method")%>:</strong>
    <%= addicdatum.method %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.goal")%>:</strong>
    <%= addicdatum.goal %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.controlstimulustext")%>:</strong>
    <%= addicdatum.controlstimulustext %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.controlstimulusinstruction")%>:</strong>
    <%= addicdatum.controlstimulusinstruction %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.pseudoactinstruction")%>:</strong>
    <%= addicdatum.pseudoactinstruction %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.imaginationinstruction")%>:</strong>
    <%= addicdatum.imaginationinstruction %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.essay")%>:</strong>
    <%= addicdatum.essay %>
  </p>

  <p>
    <strong><%= I18n.t("activerecord.attributes.addicdatum.supplement")%>:</strong>
    <%= addicdatum.supplement %>
  </p>

</div>
