<table><tbody><tr>
<% (0..1).each do |beforeAfter| %>
  <td>
    <% imagination.attributes.each_with_index do |(attribute,value),index| %>
      <% if (2+6*beforeAfter..7+6*beforeAfter).include?(index) %>
        <% if attribute.include?("text") %>
            <div class="hidden">
            <p><%= label attribute, I18n.t("observation.text.#{attribute.sub(/before/,'').sub(/after/,'')}") %></p>
            <%= text_field attribute ,class:"form-control",disabled:true %>
            </div>
        <% elsif attribute.include?("drivingforce") %>
            <p><%= label "imagination[#{attribute}]", I18n.t("observation.text.#{attribute.sub(/before/,'').sub(/after/,'')}") %></p>
            <%= select_tag "imagination[#{attribute}]",options_for_select(I18n.t("observation.#{attribute.sub(/before/,'').sub(/after/,'')}").map { |key, labelname| [labelname, key] }, selected: value.present? ? value : 1),disabled:true %>
        <% else %>
          <p><%= label attribute, I18n.t("observation.text.#{attribute.sub(/before/,'').sub(/after/,'')}") %></p>
          <div>
          <% I18n.t("observation.#{attribute.sub(/before/,'').sub(/after/,'')}").each.with_index(1) do |(labelindex,labelname)| %>
            <% if attribute.include?("other")&&labelindex==3 %>
              <%= check_box_tag "imagination[#{attribute}][]", labelindex, value.present?&&value.include?(labelindex),id:"imagination_#{attribute}_#{labelindex}" ,disabled:true %>
            <% else %>
              <%= check_box_tag "imagination[#{attribute}][]", labelindex, value.present?&&value.include?(labelindex),id:"imagination_#{attribute}_#{labelindex}" ,disabled:true %>
            <% end %> 
            <%= label_tag "imagination[#{attribute}][#{labelindex}]", labelname %>
          <% end %>    
          </div>
        <% end %>    
      <% end %>
    <% end %>
  </td>
<% end %>
</tr></tbody></table>
<% imagination.attributes.each_with_index do |(attribute,value),index| %>
  
  <% if (14..20).include?(index) %>
    <% if attribute.include?("text") %>
        <div class="hidden">
        <p><%= label attribute, I18n.t("observation.text.#{attribute}") %></p>
        <%= text_field attribute ,class:"form-control",disabled:true %>
        </div>
        <% if attribute.include?("interrupt") %>
          </div>
        <% end %>    
    <% else %>
        <% if attribute.include?("interrupt") %>
          <div class="hidden">
        <% end %>    
        <% if attribute.include?("completion") %>
          <p><%= label "imagination[#{attribute}]", I18n.t("todo.imagination")+I18n.t("observation.text.#{attribute}") %></p>
        <% else %>
          <p><%= label "imagination[#{attribute}]", I18n.t("observation.text.#{attribute}") %></p>
        <% end %>          
        <%= select_tag "imagination[#{attribute}]",options_for_select(I18n.t("observation.#{attribute}").map { |key, labelname| [labelname, key] }, selected: value.present? ? value : 1),disabled:true %>
    <% end %>    
  <% end %>
<% end %>
<% (0..19).each do |index| %>
  <p><%= imagination.word[index] %></p>
<% end %>
