<h1><%= I18n.t("todo.imagination")+I18n.t("index") %></h1>
<%= link_to I18n.t("back"), patient_addicdatum_imaginationtexts_path, class: 'btn btn-primary' %>
<%= link_to I18n.t("new"), new_patient_addicdatum_imaginationtext_imagination_path, class: 'btn btn-primary' %>
<table class="table table-hover">
    <tbody>
        <% @imaginations.each do |imagination| %>
            <tr>
                <td><%= I18n.t("observation.completion.#{imagination.completion}") %></td>
                <td><%= link_to I18n.t("show"),patient_addicdatum_imaginationtext_imagination_path(id:imagination.id) %></td>
            </tr>
        <% end %>
    </tbody>
</table>