<div id="<%= dom_id addicdata %>">
  <p>
    <strong>I18n.t("what"):</strong>
    <%= addicdata.what %>
  </p>

  <p>
    <strong>I18n.t("severity"):</strong>
    <%= addicdata.severity %>
  </p>

  <p>
    <strong>I18n.t("progress"):</strong>
    <%= addicdata.progress %>
  </p>

  <p>
    <strong>I18n.t("difficulties"):</strong>
    <%= addicdata.difficulties %>
  </p>

  <p>
    <strong>I18n.t("frequency"):</strong>
    <%= addicdata.frequency %>
  </p>

  <p>
    <strong>I18n.t("trouble"):</strong>
    <%= addicdata.trouble %>
  </p>

  <p>
    <strong>I18n.t("method"):</strong>
    <%= addicdata.method %>
  </p>

  <p>
    <strong>I18n.t("goal"):</strong>
    <%= addicdata.goal %>
  </p>

  <p>
    <strong>I18n.t("controlstimulustext"):</strong>
    <%= addicdata.controlstimulustext %>
  </p>

  <p>
    <strong>I18n.t("controlstimulusinstruction"):</strong>
    <%= addicdata.controlstimulusinstruction %>
  </p>

  <p>
    <strong>I18n.t("pseudoactinstruction"):</strong>
    <%= addicdata.pseudoactinstruction %>
  </p>

  <p>
    <strong>I18n.t("imaginationinstruction"):</strong>
    <%= addicdata.imaginationinstruction %>
  </p>

  <p>
    <strong>I18n.t("essayok"):</strong>
    <%= addicdata.essayok %>
  </p>

  <p>
    <strong>I18n.t("essay"):</strong>
    <%= addicdata.essay %>
  </p>

  <p>
    <strong>I18n.t("supplement"):</strong>
    <%= addicdata.supplement %>
  </p>

</div>
