<div id="<%= dom_id addicdatum %>">
  <p>
    <strong>I18n.t("what"):</strong>
    <%= addicdatum.what %>
  </p>

  <p>
    <strong>I18n.t("severity"):</strong>
    <%= addicdatum.severity %>
  </p>

  <p>
    <strong>I18n.t("progress"):</strong>
    <%= addicdatum.progress %>
  </p>

  <p>
    <strong>I18n.t("difficulties"):</strong>
    <%= addicdatum.difficulties %>
  </p>

  <p>
    <strong>I18n.t("frequency"):</strong>
    <%= addicdatum.frequency %>
  </p>

  <p>
    <strong>I18n.t("trouble"):</strong>
    <%= addicdatum.trouble %>
  </p>

  <p>
    <strong>I18n.t("method"):</strong>
    <%= addicdatum.method %>
  </p>

  <p>
    <strong>I18n.t("goal"):</strong>
    <%= addicdatum.goal %>
  </p>

  <p>
    <strong>I18n.t("controlstimulustext"):</strong>
    <%= addicdatum.controlstimulustext %>
  </p>

  <p>
    <strong>I18n.t("controlstimulusinstruction"):</strong>
    <%= addicdatum.controlstimulusinstruction %>
  </p>

  <p>
    <strong>I18n.t("pseudoactinstruction"):</strong>
    <%= addicdatum.pseudoactinstruction %>
  </p>

  <p>
    <strong>I18n.t("imaginationinstruction"):</strong>
    <%= addicdatum.imaginationinstruction %>
  </p>

  <p>
    <strong>I18n.t("essayok"):</strong>
    <%= addicdatum.essayok %>
  </p>

  <p>
    <strong>I18n.t("essay"):</strong>
    <%= addicdatum.essay %>
  </p>

  <p>
    <strong>I18n.t("supplement"):</strong>
    <%= addicdatum.supplement %>
  </p>

</div>
