<h1><%=I18n.t("todo.essay") %></h1>
<%= link_to I18n.t("back"), patient_addicdatum_essay_path(addicdatum_id:@addicdatum.id), class: 'btn btn-primary' %>
<%= form_with(model: @addicdatum,url:
patient_addicdatum_essay_path(patient_id:@addicdatum.patient_id,addicdatum_id:@addicdatum.id)) do |form| %>
  <div class="form-group">
      <%= form.text_area :essay,class:'form-control' %>
    </div>
  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
